
<div id="comment">
  <strong><%= comment.alias %></strong> Said
  <div class="meta">
    <%= comment.message %> 
    <div id="like"><%= link_to 'Like', @comment , class: "btn btn-primary btn-small" %></div>
  </div>
  <%=comment.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
</div>