<div class="page-header">
  <h1>Posts</h1>
</div>

<% if user_signed_in? %>
  <%= link_to 'Create Post', new_post_path, class: "btn btn-primary" %>
<% end %>

<% @posts.each do |post| %>
<div class="Post">
  <strong><%= link_to post.title, post %></strong>
    <div class="meta">
      <%= "Por " + post.user.full_name %> | <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S")  %>
    </div>
</div>
<% end %> 